<a href="https://colab.research.google.com/github/Preeti27092000/eda-on-terrorism-dataset/blob/main/Copy_of_08_Exploring_More_Data_with_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploring Data with Numpy** ‚è´

[Download the Data from Here](https://drive.google.com/file/d/1cZVEZPRMj4YuxnomzbDyVlC-2pR7yC5H/view?usp=sharing)

Given file "terrorismData.csv"

It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

In [ ]:
filePath = "/content/drive/MyDrive/terrorismData.csv"

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(filePath)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.head(5)

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [ ]:
df.shape

(181691, 17)

In [ ]:
df.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded
count,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,171378.000000,165380.000000
mean,2002.638997,6.467277,15.505644,23.498343,-4.586957e+02,2.403272,3.167668
std,13.259430,3.388303,8.814045,18.569242,2.047790e+05,11.545741,35.949392
min,1970.000000,0.000000,0.000000,-53.154613,-8.618590e+07,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,11.510046,4.545640e+00,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,31.467463,4.324651e+01,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,34.685087,6.871033e+01,2.000000,2.000000
max,2017.000000,12.000000,31.000000,74.633553,1.793667e+02,1570.000000,8191.000000

## **Problem Statement : 1**

Find the number of attack held between day 10 and day 20?(ignoring the year and month)(including both day)

Print count of NumberOFAttack as integer value. 

> Output Format :
```
Count
```

In [ ]:
import csv
import numpy as np

with open(filePath,encoding='utf-8') as f:
    data = csv.DictReader(f)
    days = []
    for i in data:
        days.append(int(i['Day']))


np_days = np.array(days)

n = (np_days >= 10) & (np_days<=20)
print(sum(n))

66330

## **Problem Statement : 2**

Find the number of attack held between 1 Jan 2010 and 31 Jan 2010?(including both date).

Note Ignore the case where day is 0

Print count of NumberOFAttack as integer value.

> Output Format :
```
Count
```

In [ ]:
l = []
with open(filePath,encoding='utf-8') as f:
    data = csv.DictReader(f)
    
    for i in data:
      a = (i['Year']) # looping over 3 columns say 'year','month','day'
      b = (i['Month'])
      c = (i['Day'])
      if a == '2010':
        if b == '1': # if b = 1 say jan
          if c != '0': # if c is not equal to a
            l.append(c) # only add days in list
n = np.array(l) # convert list of days of jan 2010 into array
print(n)
print(len(n)) # count number of days as per condition

['1' '1' '1' '1' '1' '1' '1' '1' '2' '3' '3' '3' '4' '4' '4' '4' '5' '5'
 '3' '7' '6' '6' '7' '7' '7' '7' '7' '8' '8' '8' '8' '9' '9' '9' '9' '10'
 '10' '10' '10' '10' '10' '10' '10' '11' '11' '11' '11' '11' '12' '12'
 '12' '12' '12' '13' '13' '13' '13' '13' '13' '14' '14' '14' '14' '14'
 '14' '14' '14' '14' '14' '15' '15' '15' '15' '15' '15' '15' '16' '16'
 '16' '16' '16' '16' '16' '16' '17' '17' '17' '17' '17' '17' '17' '17'
 '17' '17' '17' '17' '18' '18' '18' '18' '18' '18' '18' '18' '18' '18'
 '18' '18' '18' '18' '18' '18' '18' '18' '18' '18' '18' '18' '18' '19'
 '19' '19' '19' '19' '19' '19' '19' '19' '19' '19' '19' '19' '19' '20'
 '20' '20' '20' '20' '20' '21' '21' '21' '21' '21' '21' '21' '21' '21'
 '21' '22' '22' '22' '22' '22' '22' '22' '22' '22' '22' '23' '23' '23'
 '23' '23' '23' '23' '23' '23' '23' '23' '24' '24' '24' '24' '24' '24'
 '24' '24' '24' '24' '24' '24' '25' '25' '25' '25' '25' '25' '25' '25'
 '25' '25' '25' '25' '25' '25' '25' '25' '25' '25' '25' '26' '26' '26'
 '26' '26' '26' '26' '26' '26' '27' '27' '27' '27' '27' '27' '27' '27'
 '27' '27' '27' '27' '27' '27' '27' '27' '28' '28' '28' '28' '28' '28'
 '28' '28' '28' '28' '28' '28' '28' '28' '30' '29' '29' '29' '29' '29'
 '29' '29' '29' '29' '29' '29' '29' '29' '29' '29' '29' '30' '30' '30'
 '30' '30' '30' '31' '31' '31' '31' '31' '31' '31' '31']
271

## **Problem Statement : 3**

Find the casualty in the Red Corridor States ? Mainly Red corridor states include Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh.

Note: Casualty=Killed +Wounded

Print count of Casualty as integer value.

> Output Format :
```
Count
```

In [ ]:
from pandas.core.dtypes.dtypes import dtypes
from pandas.core.arrays.sparse import dtype
import csv
import numpy as np
k = []
with open(filePath,encoding = 'utf8') as f:
  data = csv.DictReader(f)

  l = []
  m = []
  for i in data:
    a = (i['State']) # looping over 3 columns say 'state','killed' and 'wounded'
    b = (i['Killed'])
    c = (i['Wounded'])
    if a == 'Jharkhand' or a == 'Odisha' or a == 'Andhra Pradesh' or a == 'Chhattisgarh': # if in 'a' any of these state comes, go to 'b' where value should not be nan and then moves to 'c' where nan shoud not exist
      if b == '':
        if c != 'Nan':
          l.append(b) # append 'b' into l list and 'c' into m list 
          m.append(c)

print(type(l))
l1 = np.array(l) # conver lists into array
m1 = np.array(m)
l2 = np.asarray(l1,dtype = np.float) # convert string elements into float
m2 = np.asarray(m1,dtype = np.float)
n = l2 + m2 # sum of wounded and killed
print(n)

<class 'list'>

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

ValueError: ignored

## **Problem Statement : 4**

Find the most frequent day of attack in a terrorismDataset ?
Note: Here np.unique can be used.

Print count of frequent day and number of attack as Integer value.

> Output Format :
```
Day NumberOFAttack
```

In [ ]:
from pandas.tseries.frequencies import unique
import csv
import numpy as np
k = []
with open(filePath,encoding = 'utf8') as f:
  data = csv.DictReader(f)

  l = []
  for i in data:
    a = (i['Day'])
    a1 = np.array(a)
    
    l.append(a)



n = np.array(l)

n1 = np.unique(n)
print(np.sort(n1))
n2 = np.asarray(n,dtype = np.float)

n3 = np.asarray(n2, dtype = np.int)

n4 = np.bincount(n3)
print(n4)
n5 = np.bincount(n3).argmax()
print("most repeated value : ",n5)

l1 = list(n4)
# print(l1)
maxi = max(l1)
print(maxi)

NameError: ignored

## Answers: 

1.  66330

2.  271

3.  5628

4.  15 6500